
    <title>Love Of My Life</title>

        <h1>Love of my life</h1>
        
            <div class="col-lg-4">

                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="Love of my life, you've hurt me
You've broken my heart
And now you leave me
Love of my life, can't you see?
Bring it back, bring it back
Don't take it away from me
Because you don't know
What it means to me
Love of my life, don't leave me
You've stolen my love
And now desert me
Love of my life, can't you see?
Bring it back, bring it back
Don't take it away from me
Because you don't know
What it means to me
You will remember
When this is blown over
And everything's all by the way
When I grow older
I will be there at your side
To remind you how I still love you
I still love you
Back, hurry back
Don't take it away from me
Because you don't know
What it means to me
Love of my life
Love of my life
Yeah"/>

                   
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/pGankmig5yM" frameborder="0" allowfullscreen></iframe>
            </div>
        