<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>We Are The Champions</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/js/scripts.js"></script>

   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <h1>We Are The Champions</h1>
                <p>I've paid my dues<br>
                Time after time<br>
                I've done my sentence<br>
                But committed no crime</p>

                <p>And bad mistakes<br>
                I've made a few<br>
                I've had my share of sand<br>
                Kicked in my face<br>
                But I've come through<br>
                And we mean to go on and on and on and on</p>

                <p>We are the champions, my friends<br>
                And we'll keep on fighting<br>
                'Till the end<br>
                We are the champions<br>
                We are the champions<br>
                No time for losers<br>
                'Cause we are the champions of the world</p>

                <p>I've taken my bows<br>
                And my curtain calls<br>
                You brought me fame and fortune<br>
                And everything that goes with it<br>
                I thank you all</p>

                <p>But it's been no bed of roses<br>
                No pleasure cruise<br>
                I consider it a challenge before<br>
                The whole human race<br>
                And I ain't gonna lose<br>
                And we mean to go on and on and on and on</p>

                <p>We are the champions, my friends<br>
                And we'll keep on fighting<br>
                'Till the end<br>
                We are the champions<br>
                We are the champions<br>
                No time for losers<br>
                'Cause we are the champions of the world</p>

                <p>We are the champions, my friends<br>
                And we'll keep on fighting<br>
                'Till the end<br>
                We are the champions<br>
                We are the champions<br>
                No time for losers<br>
                'Cause we are the champions</p>
                
                
				                                
				<button class="btn btn-primary btn-md" onclick="#">salvar</button>
                              
            </div>
           <!--  <div class="col-ms-1">
				<iframe width="420" height="315" src="#" frameborder="0" allowfullscreen></iframe>
            </div> -->
        </div>

    </div>

    <script src="../js/jquery.js"></script>

    <script src="../js/bootstrap.min.js"></script>

</body>

</html>