
    <title>We Are The Champions</title>

        <h1>We are the champions</h1>

        
            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="I've paid my dues
Time after time
I've done my sentence
But committed no crime
And bad mistakes
I've made a few
I've had my share of sand
Kicked in my face
But I've come through
And we mean to go on and on and on and on
We are the champions, my friends
And we'll keep on fighting
'Till the end
We are the champions
We are the champions
No time for losers
'Cause we are the champions of the world
I've taken my bows
And my curtain calls
You brought me fame and fortune
And everything that goes with it
I thank you all
But it's been no bed of roses
No pleasure cruise
I consider it a challenge before
The whole human race
And I ain't gonna lose
And we mean to go on and on and on and on
We are the champions, my friends
And we'll keep on fighting
'Till the end
We are the champions
We are the champions
No time for losers
'Cause we are the champions of the world
We are the champions, my friends
And we'll keep on fighting
'Till the end
We are the champions
We are the champions
No time for losers
'Cause we are the champions">


<!-- <p ng-repeat="palavra in palavras_faltando">{{ letra_palavras[palavra] }}</p> -->

                  
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/hSTivVclQQ0" frameborder="0" allowfullscreen></iframe>
            </div>
        <