<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comfortably Numb</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>


</head>

<body ng-app="asdApp" ng-controller="asdCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        <h1>Comfortably Numb</h1>
        <div class="row">
            <div class="col-lg-4">
               <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="Hello
Is there anybody in there?
Just nod if you can hear me
Is there anyone at home?
Come on now
I hear you're feeling down
Well, I can ease your pain
And get you on your feet again
Relax
I'll need some information first
Just the basic facts
Can you show me where it hurts
There is no pain, you are receding
A distant ship's smoke on the horizon
You are only coming through in waves
Your lips move but I can't hear what you're saying
When I was a child I had a fever
My hands felt just like two balloons
Now I've got that feeling once again
I can't explain, you would not understand
This is not how I am
I have become comfortably numb
I have become comfortably numb
Ok
Just a little pin prick
There'll be no more
Ah!
But you might feel a little sick
Can you stand up?
I do belive it's working, good
That'll keep you going, through the show
Come on it's time to go
There is no pain you are receding
A distant ship's smoke on the horizon
You are only coming through in waves
Your lips move, but I can't hear what you're saying
When I was a child
I caught a fleeting glimpse
Out of the corner of my eye
I turned to look but it was gone
I cannot put my finger on it now
The child is grown
The dream is gone
And I have become
Comfortably numb"/>

        <script type="text/javascript" src="../../../static/js/angular.min.js"></script>
        <script type="text/javascript" src="../../../static/js/scriptA.js"></script>
                              
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/Sf3pc-7gfOg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <script src="../../../static/js/jquery.js"></script>

    <script src="../../../static/js/bootstrap.min.js"></script>

</body>

</html>