<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hey You</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/js/scripts.js"></script>

   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <h1>Hey You</h1>
                <p>Hey, you<br>
                Out there in the <input type="text" id="c1"><br>
                Getting lonely, getting old<br>
                Can you feel me?</p>

                <p>Hey, you<br>
                Standing in the aisle<br>
                <input type="text" id="c2"> itchy feet and fading smile<br>
                Can you feel me?</p>

                <p>Hey, you<br>
                Don't <input type="text" id="c3"> them to bury the light<br>
                Don't give in, without a fight</p>

                <p>Hey, you<br>
                Out there on your own<br>
                Sitting naked by the phone<br>
                Would you <input type="text" id="c4"> me?</p>

                <p>Hey, you<br>
                With your ear against the wall<br>
                Waiting for someone to call out<br>
                Would you touch me?</p>

                <p>Hey, you<br>
                Would you help me to <input type="text" id="c5"> the stone?<br>
                Open your heart, I'm coming home</p>

                <p>But it was only fantasy<br>
                The <input type="text" id="c6"> was too high, as you can see<br>
                No matter how he tried, he could not break free<br>
                And the worms ate into his brain</p>

                <p>Hey, you<br>
                Out there on the road<br>
                Always doing <input type="text" id="c7"> you're told<br>
                Can you help me?</p>

                <p>Hey, you<br>
                Out there beyond the wall<br>
                Breaking bottles in the hall<br>
                Can you help me?</p>

                <p>Hey, you<br>
                Don't tell me there's no hope at all<br>
                Together we stand, divided we fall</p>
                
                
				<button class="btn btn-primary btn-md" onclick="heyyou()">salvar</button>
                              
            </div>
           <!--  <div class="col-ms-1">
				<iframe width="420" height="315" src="#" frameborder="0" allowfullscreen></iframe>
            </div> -->
        </div>

    </div>

    <script src="../js/jquery.js"></script>

    <script src="../js/bootstrap.min.js"></script>

</body>

</html>