
    <title>Wish You Were Here</title>

        <h1>Wish You Were Here</h1>
        
            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="So, so you think you can tell
Heaven from hell?
Blue skies from pain?
Can you tell a green field
From a cold steel rail?
A smile from a veil?
Do you think you can tell?
Did they get you to trade
Your heroes for ghosts?
Hot ashes for trees?
Hot air for a cool breeze?
Cold comfort for change?
Did you exchange
A walk on part in the war
For a lead role in a cage?
How I wish
How I wish you were here
We're just two lost souls
Swimming in a fish bowl
Year after year
Running over the same old ground
What have we found?
The same old fears
Wish you were here"/>

       
                              
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/IXdNnw99-Ic" frameborder="0" allowfullscreen></iframe>
            </div>
        