<title>Pink Floyd</title>
<div class="col-lg-4">
<h1>Pink Floyd</h1>
<!-- <p class="lead">Complete with pre-defined file paths that you won't have to change!</p> -->
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#/wishyouwerehere">Wish You Were Here</a></li>
		<li><a href="#/comfortablynumb">Comfortably Numb</a></li>
		<li><a href="#/heyyou">Hey You</a></li>
		<li><a href="#/anotherbrickinthewall">Another Brick In The Wall(part II)</a></li>
	</ul>

</div>
<div class="col-lg-4">
	<img src="imagens/pinkfloyd.jpg" width="500px">
</div>