<title>Scorpions</title>
<div class="col-lg-4">
	<h1>Scorpions</h1>
	<!-- <p class="lead">Complete with pre-defined file paths that you won't have to change!</p> -->
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#/stilllovingyou">Still Loving You</a></li>
		<li><a href="#/windofchange">Wind Of Change</a></li>
		<li><a href="#/alwayssomewhere">Always Somewhere</a></li>
		<li><a href="#/sendmeanangel">Send Me An Angel</a></li>
		<li><a href="#/youandi">You and I</a></li>
	</ul>

</div>
<div class="col-lg-4">
	<img src="imagens/scorpions.jpg" width="500px">
</div>  