

    <title>Blackbird</title>

   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>

        <h1>Blackbird</h1>

            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="Blackbird singing in the dead of night
Take these broken wings and learn to fly
All your life
You were only waiting for this moment to arise
Blackbird singing in the dead of night
Take these sunken eyes and learn to see
All your life
You were only waiting for this moment to be free
Blackbird, fly, blackbird, fly
Into the light of the dark black night
Blackbird, fly, blackbird, fly
Into the light of the dark black night
Blackbird singing in the dead of night
Take these broken wings and learn to fly
All your life
You were only waiting for this moment to arise
You were only waiting for this moment to arise
You were only waiting for this moment to arise">

                
                                
            </div>
            <div class="col-ms-1">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Mo_DMGc2v5o" frameborder="0" allowfullscreen></iframe>
            </div>
