<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hey Jude</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/js/scripts.js"></script>
   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <h1>Hey Jude</h1>

                	<p>Hey, Jude, don't make it bad<br>
					Take a sad song and <input type="text" id="c1">it better<br>
					Remember to let her into your heart<br>
					Then you can <input type="text" id="c2"> to make it better</p>

					<p>Hey, Jude, don't be afraid<br>
					You <input type="text" id="c3"> made to go out and get her<br>
					The minute you let her under your skin<br>
					Then you begin to make it <input type="text" id="c4"></p>

					<p>And anytime you feel the pain<br>
					Hey, Jude, refrain<br>
					Don't carry the <input type="text" id="c5"> upon your shoulders</p>

					<p>For well you know that it's a fool<br>
					Who plays it cool<br>
					By making his world a <input type="text" id="c6"> colder<br>
					Na na na na na na na na</p>

					<p>Hey, Jude, don't let me down<br>
					You have found her now go and get her<br>
					<input type="text" id="c7"> (hey, Jude) to let her into your heart<br>
					Then you can start to make it better</p>

					<p>So let it out and let it in<br>
					Hey, Jude, begin<br>
					You're waiting for <input type="text" id="c8"> to perform with<br>
					And don't you know that is just you?<br>
					Hey, Jude, you'll do!<br>
					The movement you <input type="text" id="c9"> is on your shoulder<br>
					Na na na na na na na na</p>

					<p>Hey, Jude, don't make it bad<br>
					Take a <input type="text" id="c10"> song and make it better<br>
					Remember to let her under your skin<br>
					Then you'll begin to make it better (better, better, better,better, better, oh!)<br>
					Na, na na na na na, na na na, hey, Jude<br>
					Na, na na na na na, na na na, hey, Jude</p><br>
                    <button class="btn btn-primary btn-md" onclick="heyjude()">salvar</button>
            </div>
            <div class="col-ms-1">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/A_MjCqQoLLA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <script src="../js/jquery.js"></script>

    <script src="../js/bootstrap.min.js"></script>

</body>

</html>