<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hey Jude</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    
   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>


</head>

<body ng-app="asdApp" ng-controller="asdCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        <h1>Hey Jude</h1>

        <div class="row">
            <div class="col-lg-4">
               <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="Hey, Jude, don't make it bad
Take a sad song and make it better
Remember to let her into your heart
Then you can start to make it better
Hey, Jude, don't be afraid
You were made to go out and get her
The minute you let her under your skin
Then you begin to make it better
And anytime you feel the pain
Hey, Jude, refrain
Don't carry the world upon your shoulders
For well you know that it's a fool
Who plays it cool
By making his world a little colder
Na na na na na na na na
Hey, Jude, don't let me down
You have found her now go and get her
Remember (hey, Jude) to let her into your heart
Then you can start to make it better
So let it out and let it in
Hey, Jude, begin
You're waiting for someone to perform with
And don't you know that is just you?
Hey, Jude, you'll do!
The movement you need is on your shoulder
Na na na na na na na na
Hey, Jude, don't make it bad
Take a sad song and make it better
Remember to let her under your skin
Then you'll begin to make it better (better, better, better,better, better, oh!)
Na, na na na na na, na na na, hey, Jude
Na, na na na na na, na na na, hey, Jude"/>

        <script type="text/javascript" src="../../../static/js/angular.min.js"></script>
        <script type="text/javascript" src="../../../static/js/scriptA.js"></script>

            </div>
            <div class="col-ms-1">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/A_MjCqQoLLA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>



</body>

</html>