<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twist and Shout</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    
   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>


</head>

<body ng-app="asdApp" ng-controller="asdCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
    	<h1>Twist and Shout</h1>
        <div class="row">
            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="Well, shake it up, baby, now (shake it up, baby)
Twist and shout (twist and shout)
Come on, come on, come on, come on, baby, now (come on, baby)
Come on and work it on out (work it on out)
Well, work it on out (work it on out)
You know you look so good (look so good)
You know you got me goin' now (got me goin')
Just like I knew you would (like I knew you would)
Well, shake it up, baby, now (shake it up, baby)
Twist and shout (twist and shout)
Come on, come on, come on, come on, baby, now (come on, baby)
Come on and work it on out (work it on out)
You know you twist, little girl (twist, little girl)
You know you twist so fine (twist so fine)
Come on and twist a little closer now (twist a little closer)
And let me know that you're mine (let me know you're mine)
Ah! Ah! Ah! Ah! Ah!
Baby, now (shake it up, baby)
Twist and shout (twist and shout)
Come on, come on, come on, come on, baby, now (come on, baby)
Come on and work it on out (work it on out)
You know you twist, little girl (twist, little girl)
You know you twist so fine (twist so fine)
Come on and twist a little closer now (twist a little closer)
And let me know that you're mine (let me know you're mine)
Well shake it, shake it, shake it, baby, now (shake it up, baby)
Well shake it, shake it, shake it, baby, now (shake it up, baby)
Well shake it, shake it, shake it, baby, now (shake it up, baby)
Ah! Ah! Ah! Ah!">

                <script type="text/javascript" src="../../../static/js/angular.min.js"></script>
                <script type="text/javascript" src="../../../static/js/scriptA.js"></script>
                
                              
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/RklOsQ-jCPY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

</body>

</html>