<title>Bandas</title>
<div class="col-lg-4">
	<h1>Bandas</h1>
	<!-- <p class="lead">Complete with pre-defined file paths that you won't have to change!</p> -->
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#/beatles">The Beatles</a></li>
		<li><a href="#/scorpions">Scorpions</a></li>
		<li><a href="#/pinkfloyd">Pink Floyd</a></li>
		<li><a href="#/roxette">Roxette</a></li>
		<li><a href="#/queen">Queen</a></li>
	</ul>
</div>
<div class="col-lg-4">
	<img src="imagens/banda.jpg" width="700px">
</div>
