
    <title>Send Me An Angel</title>

 
        <h1>Send Me An Angel</h1>
        
            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="The wise man said just walk this way
To the dawn of the light
Wind will blow into your face
As the years pass you by
Hear this voice from deep inside
It's the call of your heart
Close your eyes and you will find
Passage out of the dark
Here I am
Will you send me an angel
Here I am
In the land of the morning star
Wise man said just find your place
In the eye of the storm
Seek the roses along the way
Just beware of the thorns
Here I am
Will you send me an angel
Here I am
In the land of the morning star
The wise man said just raise your hand
And reach out for the spell
Find the door to the promised land
Just believe in yourself
Hear this voice from deep inside
It's the call of your heart
Close your eyes and you will find
The way out of the dark
Here I am
Will you send me an angel
Here I am
In the land of the morning star
Here I am
Will you send me an angel
Here I am
In the land of the morning star"/>
     
            </div>
            <div class="col-ms-1">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/LepOSInGVG0" frameborder="0" allowfullscreen></iframe>
            </div>
       