
    <title>Still Loving You</title>

 
        <h1>Still Loving You</h1>
        
            <div class="col-lg-4">
               <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="Time, it needs time
To win back your love again
I will be there, I will be there
Love, only love
Can bring back your love someday
I will be there, I will be there
Fight, babe, I'll fight
To win back your love again
I will be there, I will be there
Love, only love
Can break down the wall someday
I will be there, I will be there
If we'd go again
All the way, from the start
I would try to change
The things that killed our love
Your pride has built a wall, so strong
That I can't get through
Is there really no chance
To start once again?
I'm loving you
Try, baby, try
To trust in my love again
I will be there, I will be there
Love, our love
Just shouldn't be thrown away
I will be there, I will be there
If we'd go again
All the way, from the start
I would try to change
The things that killed our love
Your pride has built a wall, so strong
That I can't get through
Is there really no chance
To start once again?
If we'd go again
All the way, from the start
I would try to change
The things that killed our love
Yes, I've hurt your pride, and I know
What you've been through
You should give me a chance
This can't be the end
I'm still loving you
I'm still loving you
I'm still loving you, I need your love
I'm still loving you (I'm still loving you, baby)
I'm still loving you, I need your love
I'm still loving you, I need your love
I need your love"/>

       
                              
            </div>
            <div class="col-ms-1">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/PvhVWQRRrfQ" frameborder="0" allowfullscreen></iframe>
            </div>
        