<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wind Of Change</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    

   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>


</head>

<body ng-app="asdApp" ng-controller="asdCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        <h1>Wind Of Change</h1>
        <div class="row">
            <div class="col-lg-4">
               <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="I follow the Moskva
Down to Gorky Park
Listening to the wind of change
An august summer night
Soldiers passing by
Listening to the wind of change
The world is closing in
Did you ever think
That we could be so close, like brothers?
The future's in the air
I can feel it everywhere
Blowing with the wind of change
Take me to the magic of the moment
On a glory night
Where the children of tomorrow
Dream away (dream away)
In the wind of change
Walking down the street
Distant memories
Are buried in the past, forever
I follow the Moskva
Down to Gorky park
Listening to the wind of change
Take (take) me to the magic of the moment
On a glory (glory) night
Where the children of tomorrow dream away (dream away)
In the wind of change (wind of change)
The wind of change blows straight
Into the face of time
Like a storm wind that will ring
The freedom bell for peace of mind
Let your balalaika sing
What my guitar wants to say
Take (take) me to the magic of the moment
On a glory (glory) night
Where the children of tomorrow dream away (dream away)
In the wind of change (wind of change)"/>

        <script type="text/javascript" src="../../../static/js/angular.min.js"></script>
        <script type="text/javascript" src="../../../static/js/scriptA.js"></script> 
               
                              
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/5KcRl1p2waM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>


</body>

</html>