<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>You and I</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
   
   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>


</head>

<body ng-app="asdApp" ng-controller="asdCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        <h1>You and I</h1>
        <div class="row">
            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="I lose control because of you, babe
I lose control when you look at me like this
There's something in your eyes
That is saying
Tonight I'm not a child anymore
Life has opened the door
To a new exciting life
I lose control when I'm close to you, babe
I lose control don't look at me like this
There's something in your eyes
Is this love at first sight
Like a flower that grows
Life just wants you to know
All the secrets of life
Its all written down in your lifelines
Its written down inside your heart
You and I just have a dream
To find our love a place
Where we can hide away
You and I, we're just made
To love each other now
Forever and a day
I lose control because of you, babe
I lose control don't look at me like this
There's something in your eyes
That is saying
Tonight I'm so curious for more
Just like never before
In my innocent life
Its all written down in your lifelines
Its written down inside your heart
You and I just have a dream
To find our love a place
Where we can hide away
You and I, we're just made
To love each other now
Forever and a day
The time stands still
When the days of innocence
Are falling for the night
I love you, girl, I always will
I swear, I'm there for you
Till the day I die
You and I just have a dream
To find our love a place
Where we can hide away
You and I, we're just made
To love each other now
Forever and a day"/>

        <script type="text/javascript" src="../../../static/js/angular.min.js"></script>
        <script type="text/javascript" src="../../../static/js/scriptA.js"></script>
                              
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/O4yv5lx9Wgg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

</body>

</html>