<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>You and I</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/js/scripts.js"></script>

   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <h1>You and I</h1>
                <p>I lose control  <input type="text" id="c1"> of you, babe<br>
                I lose control when you look at me like this<br>
                There's something in your eyes<br>
                That is saying</p>

                <p>Tonight I'm not a  <input type="text" id="c2"> anymore<br>
                Life has opened the door<br>
                To a new exciting life</p>

                <p>I lose control when I'm close to you, babe<br>
                I lose control don't look at me like this<br>
                There's  <input type="text" id="c3"> in your eyes<br>
                Is this love at first sight</p>

                <p>Like a flower that grows<br>
                Life just wants you to  <input type="text" id="c4"><br>
                All the secrets of life</p>

                <p>Its all written down in your lifelines<br>
                Its written down inside your heart</p>

                <p>You and I just  <input type="text" id="c5"> a dream<br>
                To find our love a place<br>
                Where we can hide away<br>
                You and I, we're just made<br>
                To love each other now<br>
                Forever and a day</p>

                <p>I lose control because of you, babe<br>
                I lose control don't look at me like this<br>
                There's something in your eyes<br>
                That is  <input type="text" id="c6"></p>

                <p>Tonight I'm so curious for more<br>
                Just like never before<br>
                In my innocent life</p>

                <p>Its all written down in your lifelines<br>
                Its written down inside your heart</p>

                <p>You and I just have a dream<br>
                To find our love a place<br>
                 <input type="text" id="c7"> we can hide away<br>
                You and I, we're just made<br>
                To love each other now<br>
                Forever and a day</p>

                <p>The time stands still<br>
                When the days of innocence<br>
                Are falling for the  <input type="text" id="c8"><br>
                I love you, girl, I always will<br>
                I swear, I'm there for you<br>
                Till the day I die</p>

                <p>You and I just have a dream<br>
                To find our love a place<br>
                Where we can hide  <input type="text" id="c9"><br>
                You and I, we're just made<br>
                To love each other now<br>
                Forever and a day</p>
                
				<button class="btn btn-primary btn-md" onclick="youandi()">salvar</button>
                              
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/O4yv5lx9Wgg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <script src="../js/jquery.js"></script>

    <script src="../js/bootstrap.min.js"></script>

</body>

</html>