

    <title>You and I</title>

        <h1>You and I</h1>
        
            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


                <input type="hidden" id="letra" value="I lose control because of you, babe
I lose control when you look at me like this
There's something in your eyes
That is saying
Tonight I'm not a child anymore
Life has opened the door
To a new exciting life
I lose control when I'm close to you, babe
I lose control don't look at me like this
There's something in your eyes
Is this love at first sight
Like a flower that grows
Life just wants you to know
All the secrets of life
Its all written down in your lifelines
Its written down inside your heart
You and I just have a dream
To find our love a place
Where we can hide away
You and I, we're just made
To love each other now
Forever and a day
I lose control because of you, babe
I lose control don't look at me like this
There's something in your eyes
That is saying
Tonight I'm so curious for more
Just like never before
In my innocent life
Its all written down in your lifelines
Its written down inside your heart
You and I just have a dream
To find our love a place
Where we can hide away
You and I, we're just made
To love each other now
Forever and a day
The time stands still
When the days of innocence
Are falling for the night
I love you, girl, I always will
I swear, I'm there for you
Till the day I die
You and I just have a dream
To find our love a place
Where we can hide away
You and I, we're just made
To love each other now
Forever and a day"/>

               
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/O4yv5lx9Wgg" frameborder="0" allowfullscreen></iframe>
            </div>
        