
    <title>It Must Have Been Love</title>

    <h1>It Must Have Been Love</h1> 

            <div class="col-lg-4">
             <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>


             <input type="hidden" id="letra" value="It must have been love but it's over now
Lay a whisper on my pillow
Leave the winter on the ground
I wake up lonely, there's air of silence
In the bedroom and all around (and all around)
Touch me now, I close my eyes
And dream away
It must have been love but it's over now
It must have been good but I lost it somehow\
It must have been love but it's over now
From the moment we touched til the time had run out
Make-believing we're together
That I'm sheltered by your heart
But in and outside I've turned to water
Like a teardrop in your palm
And it's a hard winter's day
I dream away
It must have been love but it's over now
(it must have been love but it's over now)
It was all that I wanted, now I'm living without
It must have been love but it's over now
(it must have been love, the winds blows)
It's where the water flows
It's where the wind blows
It must have been love but it's over now
(it must have been love but it's over now)
It must have been good but I lost it somehow
It must have been love but it's over now
(it must have been love but it's over now)
From the moment we touched til the time had run out
Yeah! It must have been love but it's over now
(it must have been love but it's over now)
It was all that I wanted, now I'm living without
It must have been love but it's over now
(the winds blows)
It's where the water flows
It's where the wind blows
Ohhh! (it must have been love but it's over now)
But it's over now
Nooowww!
(it must have been love but it's over now)
(it must have been love but it's over now)
Nooowww!">

                            
            </div>
            <div class="col-ms-1">
				<iframe width="420" height="315" src="https://www.youtube.com/embed/k2C5TjS2sh4" frameborder="0" allowfullscreen></iframe>
            </div>
       