<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Listen To Your Heart</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script type="text/javascript" src="../../../static/js/scripts.js"></script> -->

   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>


</head>

<body ng-app="asdApp" ng-controller="asdCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
    <h1>Listen To Your Heart</h1> 

        <div class="row">
            <div class="col-lg-4">
             <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>

<input type="hidden" id="letra" value="I know there's something in the wake of your smile
I get a notion from the look in your eyes, yea
You've built a love, but that love falls apart
Your little piece of heaven turns to dark
Listen to your heart
When he's calling for you
Listen to your heart
There's nothing else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before you tell him goodbye
Sometimes you wonder if this fight is worthwhile
The precious moments are all lost in the tide, yea
They're swept away and nothing is what is seems
The feeling of belonging to your dreams
Listen to your heart
When he's calling for you
Listen to your heart
There's nothing else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before you tell him goodbye
And there are voices
That want to be heard
So much to mention
But you can't find the words
The scent of magic
The beauty that's been
When love was wilder than the wind
Listen to your heart
Take a listen to it
He's calling for you
Listen to your heart
Take a listen to it
Else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before
Listen to your heart!
Take a listen to it
He's calling for you
Listen to your heart!
Take a listen to it
Else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before you tell him goodbye
(Listen to your heart)
(Listen to your heart)
(Listen to your heart)
(Listen to your heart)
(Listen to your heart)">

    <script type="text/javascript" src="../../../static/js/angular.min.js"></script>
    <script type="text/javascript" src="../../../static/js/scriptA.js"></script>
    
    
                
               
                              
            </div>
            <div class="col-ms-1">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/yCC_b5WHLX0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

        <script src="../../../static/js/jquery.js"></script>

    <script src="../../../static/js/bootstrap.min.js"></script>

</body>

</html>