

    <title>Listen To Your Heart</title>

   
    <h1>Listen To Your Heart</h1> 

        
            <div class="col-lg-4">
             <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>

<input type="hidden" id="letra" value="I know there's something in the wake of your smile
I get a notion from the look in your eyes, yea
You've built a love, but that love falls apart
Your little piece of heaven turns to dark
Listen to your heart
When he's calling for you
Listen to your heart
There's nothing else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before you tell him goodbye
Sometimes you wonder if this fight is worthwhile
The precious moments are all lost in the tide, yea
They're swept away and nothing is what is seems
The feeling of belonging to your dreams
Listen to your heart
When he's calling for you
Listen to your heart
There's nothing else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before you tell him goodbye
And there are voices
That want to be heard
So much to mention
But you can't find the words
The scent of magic
The beauty that's been
When love was wilder than the wind
Listen to your heart
Take a listen to it
He's calling for you
Listen to your heart
Take a listen to it
Else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before
Listen to your heart!
Take a listen to it
He's calling for you
Listen to your heart!
Take a listen to it
Else you can do
I don't know where you're going
And I don't know why
But listen to your heart
Before you tell him goodbye
(Listen to your heart)
(Listen to your heart)
(Listen to your heart)
(Listen to your heart)
(Listen to your heart)">

                         
            </div>
            <div class="col-ms-1">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/yCC_b5WHLX0" frameborder="0" allowfullscreen></iframe>
            </div>
        