<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spending My Time</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    
   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <style type="text/css">
        .errou {
            color: red;
        }
        .acertou {
            color: green;
        }
    </style>


</head>

<body ng-app="asdApp" ng-controller="asdCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        <h1>Spending My Time</h1>
        <div class="row">
            <div class="col-lg-4">
                <span ng-repeat="palavra in letra_palavras track by $index">{{ get_palavra($index) }}<input type="text" ng-if="get_palavra($index) == ''" ng-model="palavras_usuario[palavras_faltando.indexOf($index)]" ng-class="{'acertou': acertou($index), 'errou': !acertou($index)}"> <br ng-if="quebra_linha($index)" /></span>

                <input type="hidden" id="letra" value="What's the time? Seems it's already morning
I see the sky, it's so beautiful and blue
The tv's on but the only thing showing is a picture of you
Oh I get up and make myself some coffee
I try to read a bit, but the story is too thin
I thank the Lord above you're not here to see me
In this shape I'm in
Spending my time
Watching the days go by
Feeling so small, I stare at the wall
Hoping that you think of me too
I'm spending my time
I try to call but I don't know what to tell you
I leave a kiss on your answering machine
Oh help me please is there someone who can make me
Wake up from this dream?
Spending my time
Watching the days go by
Feeling so small, I stare at the wall
Hoping that you are missing me too
Spending my time
Watching the sun go down
I fall asleep to the sound
Of 'tears of a clown'
A prayer gone blind
I'm spending my time
My friends keep telling me, 'Hey, life will go on
Time will make sure I'll get over you ooh
This silly game of love you play, you win only to lose
I'm spending my time
Watching the days go by
Feeling so small, I stare at the wall
Hoping that you think of me too
I'm spending my time
Watching the sun go down
I sleep to the sound
Tears of a clown
A prayer go blind
I'm spending my time
I can't live without your love
It's bad to live widthout you, honey, honey, honey">
                
				                                
			<script type="text/javascript" src="../../../static/js/angular.min.js"></script>
            <script type="text/javascript" src="../../../static/js/scriptA.js"></script>
                              
            </div>
           <!--  <div class="col-ms-1">
				<iframe width="420" height="315" src="#" frameborder="0" allowfullscreen></iframe>
            </div> -->
        </div>

    </div>

    <script src="../js/jquery.js"></script>

    <script src="../js/bootstrap.min.js"></script>

</body>

</html>