<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spending My Time</title>

    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../../../static/js/scripts.js"></script>

   
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">Cante in English</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../../../templates/bandas.html">Bandas</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                    <li>
                        <a href="#">Alguma Coisa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <h1>Spending My Time</h1>
                <p>What's the time? Seems it's already morning<br>
				I see the sky, it's so beautiful and blue<br>
				The tv's on but the only thing showing is a picture of you</p>

				<p>Oh I get up and make myself some coffee<br>
				I try to read a bit, but the story is too thin<br>
				I thank the Lord above you're not here to see me<br>
				In this shape I'm in</p>

				<p>Spending my time<br>
				Watching the days go by<br>
				Feeling so small, I stare at the wall<br>
				Hoping that you think of me too<br>
				I'm spending my time</p>

				<p>I try to call but I don't know what to tell you<br>
				I leave a kiss on your answering machine<br>
				Oh help me please is there someone who can make me<br>
				Wake up from this dream?</p>

				<p>Spending my time<br>
				Watching the days go by<br>
				Feeling so small, I stare at the wall<br>
				Hoping that you are missing me too</p>

				<p>Spending my time<br>
				Watching the sun go down<br>
				I fall asleep to the sound<br>
				Of "tears of a clown"<br>
				A prayer gone blind<br>
				I'm spending my time</p>

				<p>My friends keep telling me, "Hey, life will go on"<br>
				Time will make sure I'll get over you ooh<br>
				This silly game of love you play, you win only to lose</p>

				<p>I'm spending my time<br>
				Watching the days go by<br>
				Feeling so small, I stare at the wall<br>
				Hoping that you think of me too</p>

				<p>I'm spending my time<br>
				Watching the sun go down<br>
				I sleep to the sound<br>
				Tears of a clown<br>
				A prayer go blind</p>

				<p>I'm spending my time</p>

				<p>I can't live without your love<br>
				It's bad to live without you, honey, honey, honey</p>
                
				                                
				<button class="btn btn-primary btn-md" onclick="#">salvar</button>
                              
            </div>
           <!--  <div class="col-ms-1">
				<iframe width="420" height="315" src="#" frameborder="0" allowfullscreen></iframe>
            </div> -->
        </div>

    </div>

    <script src="../js/jquery.js"></script>

    <script src="../js/bootstrap.min.js"></script>

</body>

</html>